<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.salad.user.dao.mapper.KategoriePrdMapper">
<select id="selectMainCateList" resultType="kr.co.salad.user.domain.KategoriePrdDomain">
select	MAIN_CATE_NUM, MAIN_CATE_NAME
from	CATEGORY_MAIN
</select>
<select id="selectSubCateList" resultType="kr.co.salad.user.domain.KategoriePrdDomain" 
  parameterType="int">
select	SUB_CATE_NUM, SUB_CATE_NAME 
from	CATEGORY_SUB
where	MAIN_CATE_NUM=#{mainCateNum}
</select>
<select id="selectPrdTotalCount" resultType="int" 
  parameterType="kr.co.salad.user.vo.KategoriePrdVO">
	select		count(*)
	from	  	PRODUCT p, CATEGORY_MAIN cm, CATEGORY_SUB cs
	where		(cs.SUB_CATE_NUM=p.SUB_CATE_NUM AND cm.MAIN_CATE_NUM=cs.MAIN_CATE_NUM) AND
	<choose>
		<when test=" subCateNum == 0 ">
			 cm.MAIN_CATE_NUM= #{mainCateNum}
		</when>
		<otherwise>
			 cm.MAIN_CATE_NUM= #{mainCateNum} AND cs.SUB_CATE_NUM=#{subCateNum}
		</otherwise>
	</choose>
</select>
 <select id="selectPrdBoxList" resultType="kr.co.salad.user.domain.KategoriePrdDomain" 
  parameterType="kr.co.salad.user.vo.KategoriePrdVO">
select	PRD_NUM, THUM, PRD_NAME, PRD_REGIST_DATE, PRD_PRICE, PRD_DISCOUNT
from		(select	ROW_NUMBER() OVER (ORDER BY 
				<choose>
					<when test=" sortType == 'price_asc' ">
						p.PRD_PRICE ASC
					</when>
					<when test=" sortType == 'price_dsc' ">
						p.PRD_PRICE DESC
					</when>
					<otherwise>
						p.PRD_REGIST_DATE DESC
					</otherwise>
				</choose>
			
			) as rnum,
					p.PRD_NUM, p.THUM, p.PRD_NAME, p.PRD_PRICE, p.PRD_DISCOUNT, p.PRD_REGIST_DATE
			from	 PRODUCT p, CATEGORY_MAIN cm, CATEGORY_SUB cs
			where 	(cs.SUB_CATE_NUM=p.SUB_CATE_NUM AND cm.MAIN_CATE_NUM=cs.MAIN_CATE_NUM) AND
				<choose>
					<when test=" subCateNum == 0 and sortType == 'price_asc' ">
						cm.MAIN_CATE_NUM= #{mainCateNum}
						ORDER BY p.PRD_PRICE ASC
					</when>
					<when test=" subCateNum == 0 and sortType == 'price_dsc' ">
						cm.MAIN_CATE_NUM= #{mainCateNum}
						ORDER BY p.PRD_PRICE DESC
					</when>
					<when test=" subCateNum != 0 and sortType == 'price_asc' ">
						cm.MAIN_CATE_NUM= #{mainCateNum} AND cs.SUB_CATE_NUM=#{subCateNum}
						ORDER BY p.PRD_PRICE ASC
					</when>
					<when test=" subCateNum != 0 and sortType == 'price_dsc' ">
						cm.MAIN_CATE_NUM= #{mainCateNum} AND cs.SUB_CATE_NUM=#{subCateNum}
						ORDER BY p.PRD_PRICE DESC
					</when>
					<when test=" subCateNum == 0 ">
						cm.MAIN_CATE_NUM= #{mainCateNum}
						ORDER BY p.PRD_REGIST_DATE DESC
					</when>
					<otherwise>
						cm.MAIN_CATE_NUM= #{mainCateNum} AND cs.SUB_CATE_NUM=#{subCateNum}
						ORDER BY p.PRD_REGIST_DATE DESC
					</otherwise>
				</choose>
				)
WHERE 	RNUM BETWEEN #{startNum} AND #{endNum}
  </select>
</mapper>